{% extends 'base.html' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
  <h1>Результаты поиска</h1>

  <form method="GET" action="{% url 'search' %}">
    <div class="form-errors">{{ form.non_field_errors }}</div>

        {% for f in form %}
        <p class="form-input-p"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label> {{ f }} </p>
        <div class="form-text text-muted">{{ f.errors }}</div>
        <br>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Искать</button>
  </form>
<br>
  {% if results %}
    <h2>Результаты:</h2>
    <div class="row">
    <ul class="col-md-4 products">
      {% for product in results %}
      <li class="card mb-4 product">
        <img src="{{ product.image.url }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Цена: {{ product.price }}</p>
          <a href="#" class="btn btn-primary">Добавить в корзину</a>
        </div>
      </li>
      {% endfor %}
    </ul>
    <!-- Добавьте дополнительные карточки для других продуктов -->
  </div>
  {% else %}
    <p>Ничего не найдено.</p>
  {% endif %}
{% endblock %}
